{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block content%}
<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">

				<h4>Listado Conferencias</h4>

				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->
    <div class="container w">
		<div class="row left">

            <div class="count">
                <span class="label label-primary">
                Total Tematicas : {{pagination.getTotalItemCount}}
                </span>
            </div>
                <hr />
                                    <div class="table-responsive">
                                        <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Tematicas</th>
																						<th>Inicio</th>
																						<th>Almuerzo</th>
																						<th>Fin</th>
																						<th>Acciones</th>
        																</tr>
                                        </thead>

                                            {#{dump(pagination)}#}
                                            {% for tematica in pagination.items %}
                                            <tr>
                                                <td>{{ tematica.nombre }}</td>
                                                <td>{{ tematica.horaInicio | date ("H:i") }} horas</td>
																								<td>{{ tematica.almuerzo }} horas</td>
																								<td>{{ tematica.horaFin | date ("H:i") }} horas</td>
                                                <td>
																								<a class="btn btn-primary" href="{{path('distribucion',{ 'id': tematica.id })}}">Mostrar Jornada</a>
																								</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>

                                    <div class="navigation">
                                        {{knp_pagination_render(pagination)}}
                                    </div>
                                    <div class="clearfix"></div>

        </div>
    </div>


{% endblock %}
